<div id="tabla_detalles">
        <div class="table-responsive shadow rounded-4 mt-3">
            <table class="table table-bordered table-hover align-middle">
                <thead class="table-primary text-center">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Valor unitario</th>
                        <th>Subtotal</th>
                        <th>Recargo</th>
                        <th>Observación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for det in pedido.detalles.all %}
                <tr>
                    <td>{{ det.producto.nombre }}</td>
                    <td class="text-center">{{ det.cantidad }}</td>
                    <td class="text-center">${{ det.precio_unitario|floatformat:2 }}</td>
                    <td class="text-center">${{ det.subtotal }}</td>
                    <td class="text-center">${{ det.recargo_total|floatformat:2 }}</td>
                    <td>{{ det.observacion }}</td>
                    <td class="text-center">
                        <button class="btn btn-warning btn-sm me-1" 
                                onclick="editarDetalleAjax(
                                    '{{ det.id }}',
                                    '{{ det.cantidad }}',
                                    '{{ det.observacion|default_if_none:''|escapejs }}',
                                    '{{ det.recargo|default:0|escapejs }}'
                                )">
                            Editar
                        </button>

                        <button class="btn btn-danger btn-sm" onclick="eliminarDetalleAjax('{{ det.id }}')">
                            Eliminar
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center text-muted py-6">
                        Aún no hay productos agregados.
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>